@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #FFFFFF;
}
body {
  color: #FFFFFF;
  background: #262130;
  font-family: 'Inter', sans-serif;
}
