.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    width: 100%;
}
.modalContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
}
.main{
    display: grid;
    width: 100%;
    height: 70vh;
    align-items: center;
    grid-gap: 2rem;
    padding: .2em;


    .containerLeft{
        grid-column: 3 /span 3;
        width: 100%;
        height: 100%;
    
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            min-width: 62%;
            min-height: 357.25px;
    
            .title{
                font-size: small;
                padding: 1rem;
                padding-left: 0.2rem;
                padding-bottom: 0em;
                padding-top: 0;
                width: 100%;
                margin: auto;
                color: #ffff;
            
            }
            textarea:focus, input:focus, select:focus {
                border: none;
                outline: 0;
                font-family: 'Inter', sans-serif;
                color: #9A8AC8;
                border: solid 1px #22C26C;
            }
        }
    }
    .containerRight{
        grid-column: 7 /span 4;
        width: 100%;
        height: 100%;
        position: relative;
        
    
        .containerIcon{
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 5.55px;
            border: solid 1px #373148;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .btnDelete{
                width: 100%;
                background: hsl(257.14deg 25% 10.98% / 82%);
                border: none;
                height: 1.5rem;
            }
    
            .icon{
                width: 8rem;
                height: 8rem;
                cursor: pointer;
            }
    } 
    }
    
    .containerButton{
        grid-area: 3/3/3/13;
        display: flex;
        justify-content: flex-end;
        width: 79%;
        border-top: solid .4px #4C4463;
        padding-top: 1rem;
    }
}   

@media only screen and (max-width: 680px) { 
    .main{
        display: flex;
        padding-left: 0;
        flex-direction: column;
        .containerButton{
            border: none;
        }
        .containerIcon{
            min-width: 333.88px !important;
            height: 90% !important;
            position: inherit !important;
        }
        .containerLeft{
            width: 92% !important;
        }
        .containerRight{
            width: 92% !important;
            position: inherit !important;
            
        }
    }
}